.my-spinner-container {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.product-name {
    line-height: 50px;
    min-width: 300px;
}

.my-spinner {
    /* background-color: transparent; */
}